<h1>Log exercise progress</h1>

<form name="logform">

    <label for="date">Date:</label>
    <input type="date" name="date" ng-model="formData.date">
    <br>

    <label for="duration">Duration:</label>
    <input type="range" name="duration" ng-model="formData.duration" min="0" max="60" step="5">
    <span ng-bind="formData.duration"></span> min
    <br>

    <label for="environment">Environment:</label>
    <input type="radio" name="environment" ng-model="formData.environment" value="undefined">Undefined
    <input type="radio" name="environment" ng-model="formData.environment" value="sim">Simulator
    <input type="radio" name="environment" ng-model="formData.environment" value="irl">IRL
    <br>

    <label for="model">Model:</label>
    <select name="model" ng-model="formData.model">
        <option value="undefined">Undefined</option>
        <option ng-repeat="model in models" value="{{model.id}}">{{model.name}}</option>
    </select>
    <br>

    <label for="weather">Weather:</label>
    <input type="checkbox" name="weather" ng-model="formDataWeather.normal" value="normal">Normal
    <input type="checkbox" name="weather" ng-model="formDataWeather.windy" value="windy">Windy
    <input type="checkbox" name="weather" ng-model="formDataWeather.cold" value="cold">Cold
    <input type="checkbox" name="weather" ng-model="formDataWeather.hot" value="hot">Hot
    <input type="checkbox" name="weather" ng-model="formDataWeather.raining" value="raining">Raining
    <input type="checkbox" name="weather" ng-model="formDataWeather.snowing" value="snowing">Snowing
    <br>

    <label for="speed">Speed:</label>
    <input type="range" name="speed" ng-model="formData.speed" min="50" max="130" step="10">
    <span ng-bind="formData.speed"></span>%
    <br>

    <label for="exercise">Exercise:</label>
    <select name="exercise" ng-model="formData.exercise" ng-change="loadExercise()">
        <option value="undefined">Undefined</option>
        <option ng-repeat="exercise in exercises" value="{{exercise.id}}">{{exercise.name}}</option>
    </select>
    <br>

    <div ng-repeat="option in options">
        <div ng-if="option.html == 'checkbox'">
            <label for="{{option.name}}">{{option.display}}:</label>
            <span ng-repeat="value in option.values">
                <input class="dynamic" type="checkbox" name="{{option.name}}[]" value="{{value}}">{{value}}
            </span>
        </div>
        <div ng-if="option.html == 'radio'">
            <label for="{{option.name}}">{{option.display}}:</label>
            <input class="dynamic" type="radio" name="{{option.name}}" value="{{option.default}}" checked>{{option.default}}
            <span ng-repeat="value in option.values">
                <input class="dynamic" type="radio" name="{{option.name}}" value="{{value}}">{{value}}
            </span>
        </div>
        <div ng-if="option.html == 'range'">
            <label for="{{option.name}}">{{option.display}}:</label>
            <input class="dynamic" type="range" name="{{option.name}}" ng-model="option_range" ng-init="option_range=option.default"
                   min="{{option.min}}" max="{{option.max}}" step="{{option.step}}">
            <span ng-bind="option_range"></span>{{option.units}}
        </div>
    </div>

    <label for="rating">Rating:</label>
    <input type="range" name="rating" ng-model="formData.rating" min="0" max="5">
    <span ng-bind="formData.rating"></span>
    <br>

    <label for="crashes">Crashes:</label>
    <input type="range" name="crashes" ng-model="formData.crashes" min="0" max="15">
    <span ng-bind="formData.crashes"></span>
    <br>

    <label for="comments">Comments:</label>
    <input type="text" name="comments" ng-model="formData.comments">
    <br>

    <button ng-click="submitForm()">Save</button>
</form>
<div>{{msg}}</div>
<div>{{err}}</div>

