
.form-group {
    margin: 5px;
}

input[type=radio],input[type=checkbox] {
    padding: 0px;
    margin: 0px;
}

input[type=range] {
    width: 150px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}